/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}


/* Whole page */
html, body{
    height: 100%;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #DAEDFB;
    background-color: #FEFEFA;
}
main{
    min-height: 100%;
    height: auto;
}


/* Mise en page */
header, footer{
    color: #DAEDFB;
    font-weight: 800;
}
nav{
    width: 75%;
}
section, main{
    padding: 5% 20% 5% 20%;
}
.menu{
    width: 60%;
}
.content-vertical-center{
    align-items: center;
}
.center-horizontal {
    text-align: center;
}
.center-section{
    justify-content: center;
}
.full-width{
    width: 100%;
}
.horizontal-list {
	padding-top: 20px;
	}
.horizontal-list li {
    padding-left: 5%;
    padding-right: 5%;
	display: inline;
}
.space-evenly{
    justify-content: space-evenly;
}


/* Flex */
.col{
    flex-direction: column;
}
.flex{
    display: flex;
}


/* Boutons personnalisés */
button{
    cursor: pointer;
    background-color: #657da4;
    color: #EDF6FD;
    border: none;
    text-decoration: none;
    padding: 2%;
}
a{
    cursor: pointer;
    color: #EDF6FD;
    text-decoration:none;
}


/* Projet card */
.card-projet{
    width: 100%;
    display: flex;
    padding: 2%;
    border-radius: 3% / 10%;
}
.card-projet-content{
    width: 100%;
    padding: 2%;
}
.container-projet {
    position: relative;
    text-align: center;
}


/* Formulaire */
.form-top-section, .form-bottom-section{
    display: flex;
    flex-direction: column;
}
.form-top-section{
    width: 50%;
}
.form-bottom-section{
    width: 100%;
}
input[type="text"], input[type="email"], textarea{
    border: none;
    margin: 1%;
    background-color: #EDF6FD;
}
input{
    border-radius: 2% / 20%;
}
textarea{
    border-radius: 2% / 10%;
    padding: 2%;
    resize: none;
}
input[type="submit"] {
    border: none;
    background-color: #657da4;
    border-radius: 20px;
    color: #EDF6FD;
    text-decoration: none;
    cursor: pointer;
    padding: 2%;
}


/* Fioritures */
.light-background-1{
    background-color: #FEFEFA;
}
.dark-text{
    color: #494E5F;
}
.dark-background-1{
    background-color: #1D1D35;
}
.dark-background-2{
    background-color: #272744;
}
.light-text{
    color: #DAEDFB;
}
.short-padding{
    padding: 5% 12.5% 5% 12.5%;
}
.purple-border{
    padding-left: 25px;
    border-left: solid 5px #656DA4;
}
.centered {
    font-size: 1ch;
    text-shadow: black 1px 0 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
deco{
    position:absolute;
}
.ovale{
    width: 1000px;
    height: 500px;
    border-radius: 50%;
}
.chronology{
    border-left: 1rem solid #656DA4;
    height: 100%;
}
.chronology-content{
    padding-left: 10%;
}
.chronology-dashed{
    padding-top: 15%;
    border-left: 1rem dashed #656DA4;
    height: 50%;
}
.chronology-content-text{
    padding-left: 10%;
}
.chronology-bottom-margin{
    margin-bottom: 10%;
}
.dot{
    position: relative;
    right: 2rem;
    /* top: 0.5rem; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #656DA4;
}

/* Responsive */
/* Smartphone */
@media screen and (max-width: 767px){  
    header, footer{
        height: 100px;
        font-size: 4ch;
    }
    /* Font */
    h1{
        font-size: 1.3ch;
        margin-bottom: 5%;
    }
    h2{
        font-size: 1.2ch;
        margin-bottom: 5%;
    }
    p, a, ul, input[type=submit] {
        font-size: 1ch;
        margin-bottom: 5%;
    }   
    label{
        font-size: 1ch;
        margin-bottom: 5%;
    }


    /* Images */
    .image-profil{
        border-radius: 50%;
        margin-right: 3%;
        height: 100px;
        width: 100px;
    }
    .image-projet{
        border-radius: 5%;
        height: 100px;
        width: 100px;
    }
    .image-logo{
        display: none;
    }

    /* Form */
    input[type="text"], input[type="email"]{
        height: 25px;
    }
    textarea{
        height: 50px;
    }

    .card-projet{
        margin-bottom: 5%;
    }

    /* Button */
    button{
        border-radius: 8px;
    }

    .chronology{
        border-left: 0.5rem solid #656DA4;
        height: 100%;
    }
    .chronology-dashed{
        padding-top: 15%;
        border-left: 0.5rem dashed #656DA4;
        height: 50%;
    }
    .dot{
        position: relative;
        right: 1rem;
        /* top: 1rem; */
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #656DA4;
    }
}

/* Tablet */
@media screen and (min-width: 767px) and (max-width: 1024px){  
    header, footer{
        height: 150px;
        font-size: 0.8ch;
    }
    .avoid-logo{
        margin-right: 200px;
        margin-left: 200px;
    }
    /* Font */
    h1{
        font-size: 4ch;
        margin-bottom: 3%;
    }
    h2{
        font-size: 3ch;
        margin-bottom: 3%;
    }
    p, a, ul, input[type="submit"]{
        font-size: 2.5ch;
        margin-bottom: 3%;
    }
    label{
        font-size: 2.5ch;
        margin-bottom: 3%;
    }
    .date{
        font-size: 3ch;
    }


    /* Images */
    .image-profil{
        border-radius: 50%;
        margin-right: 3%;
        height: 200px;
        width: 200px;
    }
    .image-projet{
        border-radius: 5%;
        height: 200px;
        width: 200px;
    }
    .image-logo{
        left: 2%;
        position: absolute;
        height: 150px;
        width: 150px;
    }

    /* Form */
    input[type="text"], input[type="email"]{
        height: 40px;
    }
    textarea{
        height: 80px;
    }

    .card-projet{
        margin-bottom: 3%;
    }

    /* Button */
    button{
        border-radius: 15px;
    }
}

/* Desktop */
@media screen and (min-width: 1024px){
    header, footer{
        height: 175px;
        font-size: 0.8ch;
    }
    .avoid-logo{
        margin-right: 175px;
        margin-left: 175px;
    }
    /* Font */
    h1{
        font-size: 5ch;
        margin-bottom: 2%;
    }
    h2{
        font-size: 4ch;
        margin-bottom: 2%;
    }
    p, a, ul, input[type="submit"]{
        font-size: 3ch;
        margin-bottom: 2%;
    }
    label{
        font-size: 3ch;
        margin-bottom: 2%;
    }
    .date{
        font-size: 4.5ch;
    }

    
    /* Images */
    .image-profil{
        border-radius: 50%;
        margin-right: 3%;
        height: 300px;
        width: 300px;
    }
    .image-projet{
        border-radius: 5%;
        height: 300px;
        width: 300px;
    }
    .image-logo{
        left: 2%;
        position: absolute;
        height: 175px;
        width: 175px;
    }


    /* Form */
    input[type="text"], input[type="email"]{
        height: 50px;
    }
    textarea{
        height: 100px;
    }

    .card-projet{
        margin-bottom: 2%;
    }

    /* Button */
    button{
        border-radius: 20px;
    }
}


/* Animation */
@keyframes right-to-left {
    0%   {opacity: 0; left:500px; top:0px;}
    100% {opacity: 1; left:0px; top:0px;}
  }
@keyframes left-to-right {
    0%   {opacity: 0; right:500px; top:0px;}
    100% {opacity: 1; right:0px; top:0px;}
  }
.sliding-right-to-left{
    position: relative;
    animation-name: right-to-left;
    animation-duration: 1s;
}
.sliding-left-to-right{
    position: relative;
    animation-name: left-to-right;
    animation-duration: 1s;
}